body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 50px;
    text-align: left;
    color: #a059e2;
}

h2{
    font-size: 30px;
    text-align: left;
    color: #808080;
}

p{
    font-size: 18px;
    text-align: left;
}
ul{
    text-align: left;
    font-size: 15px;
}

h3{
    text-align: ce;
    color: #808080;
}
.images{
    display: flex;
    height: 300px;
    justify-content: space-around;
}